//
   Created by root on 2/5/15.
div(ng-controller="UserEditCtrl")#edit-items
   form(role="form")#form-items
      include ./__form.jade
      div(class="form-item")
         input(type="submit", class="btn btn-primary", value="Save", ng-click="setData(entityWrapp)")#em_save